.bigCounter {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 20px;
    color: white;
    font-size: 60px;
}

.bigCounter div {
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 5px;
    padding: 10px 20px;
}

.calendar {
    font-size: 50px;
    display: flex;
    align-items: center;
}